---
import { Icon } from "astro-icon";
---

<label for="invite-modal" class={`cursor-pointer bg-amber-100 text-amber-400 p-2 rounded-xl`}>
    <Icon name="fa-solid:envelope" class="w-5 h-5"/>
</label>