---
import Gallery from "@components/profiles/Gallery.tsx";
---
<div class="snap-center flex-shrink-0 w-screen sm:w-[calc(100vw-4rem)] h-full flex flex-col justify-start mobile-scrollbar overflow-y-auto p-5">
    <div class="flex flex-col gap-6">
        {
            Array(4).fill(0).map((e, i) => {
                return (
                    <div class="w-full bg-white rounded-b-md flex flex-col items-center gap-3">
                        <Gallery totalChildren={3} client:load>
                            <img class='aspect-square snap-center object-cover object-center' src="https://assets.easybroker.com/property_images/2688782/42240426/EB-JH8782.jpeg" alt="gallery-item"/>
                            <img class='aspect-square snap-center object-cover object-center' src="https://assets.easybroker.com/property_images/2688782/42240512/EB-JH8782.JPG" alt="gallery-item" />
                            <img class='aspect-square snap-center object-cover object-center' src="https://assets.easybroker.com/property_images/2688782/42240509/EB-JH8782.JPG" alt="gallery-item" />
                        </Gallery>
                        <div class="w-full h-full flex gap-2 flex-wrap px-3 text-xs overflow-x-auto mobile-scrollbar">
                            <span class="bg-amber-100 text-amber-400 flex items-center px-3 py-1 rounded-md">
                                #casasmodernas
                            </span>
                            <span class="bg-amber-100 text-amber-400 flex items-center px-3 py-1 rounded-md">
                                #querétaro
                            </span>
                            <span class="bg-amber-100 text-amber-400 flex items-center px-3 py-1 rounded-md">
                                #juriquilla
                            </span>
                        </div>
                        <div class='w-full px-3 text-sm flex gap-1 pb-3'>
                            <p class='line-clamp-1 break-words'>Ola demonio, esta es una casa muy chingona que está aquí en Querétaro. Ola demonio, esta es una casa muy chingona que está aquí en Querétaro. Ola demonio, esta es una casa muy chingona que está aquí en Querétaro.</p>
                            <span class='font-medium'>más</span>
                        </div>
                    </div>
                )
            })
        }
    </div>
</div>