---
import { Icon } from "astro-icon";
---

<div class="snap-center flex-shrink-0 w-screen h-full flex flex-col justify-start mobile-scrollbar overflow-y-auto p-5 gap-5">
    <div class="flex flex-col gap-2">
        <h2 class='uppercase text-gray-500 font-semibold text-sm'>Acerca de Carpinterías Ramírez</h2>
        <div class="bg-white rounded-lg flex flex-col divide-y divide-gray-100">
            <p class="py-3 px-5 before:content-['“'] first-letter:text-gray-800 first-letter:text-6xl first-letter:font-bold first-letter:float-left first-letter:mr-5">
                Nosotros somos Carpinterías Ramírez, tenemos 15 años de experiencia ofreciendo soluciones de carpintería de alta calidad. Estamos principalmente especializados en muebles de madera, mdf, y algunas melaminas. Podemos ofrecerte una opción buena, barata y bonita para embellezer tu hogar a tu manera.
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="bg-white rounded-lg flex flex-col divide-y divide-gray-100">
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:hammer" class="w-4 h-4"/>
                    <span>Categoría:</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>Carpintería</span>
                </div>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:map-pin" class="w-4 h-4"/>
                    <span>Zona de trabajo:</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>Querétaro, QRO.</span>
                </div>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:phone-alt" class="w-4 h-4"/>
                    <span>Teléfono:</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>4461117033</span>
                    <span class='text-gray-500'>
                        <Icon name="fa-solid:user" class="w-3 h-3"/>
                    </span>
                </div>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:clock" class="w-4 h-4"/>
                    <span>Años de experiencia:</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>15</span>
                </div>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:globe" class="w-4 h-4"/>
                    <span>Sitio web:</span>
                </div>
                <div class="truncate flex items-center gap-3">
                    <span>https://carpinteria-ramirez.com</span>
                </div>
            </div>
        </div>
    </div>
</div>