---
import { Icon } from "astro-icon";

interface Props {
    withVacancyActions?: boolean,
}

const { withVacancyActions = false } = Astro.props;
---

<div id="profile-info" class="snap-center flex-shrink-0 w-screen max-w-[700px] h-full sm:h-auto flex flex-col justify-start mobile-scrollbar overflow-y-auto p-5 gap-5">
    {
        withVacancyActions && <div class="w-full flex justify-between items-center">
            <button class="bg-red-100 text-red-600 flex items-center gap-2 rounded-lg py-2 px-4 font-semibold">
                <Icon name="fa-solid:times" class="w-4 h-4"/>
                <span>Rechazar</span>
            </button>
            <button class="bg-lime-100 text-lime-600 flex items-center gap-2 rounded-lg py-2 px-4 font-semibold">
                <Icon name="fa-solid:check" class="w-4 h-4"/>
                <span>Aceptar</span>
            </button>
        </div>
    }
    <div class="flex flex-col gap-2">
        <h2 class='uppercase text-gray-500 font-semibold text-sm pb-4'>Acerca de Carpinterías Ramírez</h2>
        <div class="bg-white rounded-lg flex flex-col divide-y divide-gray-100">
            <p class="py-3 px-5 before:content-['“'] first-letter:text-gray-800 first-letter:text-6xl first-letter:font-bold first-letter:float-left first-letter:mr-5">
                Nosotros somos Carpinterías Ramírez, tenemos 15 años de experiencia ofreciendo soluciones de carpintería de alta calidad. Estamos principalmente especializados en muebles de madera, mdf, y algunas melaminas. Podemos ofrecerte una opción buena, barata y bonita para embellezer tu hogar a tu manera.
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="bg-white rounded-lg flex flex-col divide-y divide-gray-100">
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:hammer" class="w-4 h-4"/>
                    <span>Categoría:</span>
                </div>
                <span>Carpintería</span>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:map-pin" class="w-4 h-4"/>
                    <span>Zona de trabajo:</span>
                </div>
                <span>Querétaro, QRO.</span>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:phone-alt" class="w-4 h-4"/>
                    <span>Teléfono:</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>4461117033</span>
                    <span class='text-gray-500'>
                        <Icon name="fa-solid:user" class="w-3 h-3"/>
                    </span>
                </div>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:clock" class="w-4 h-4"/>
                    <span>Años de experiencia:</span>
                </div>
                <span>15</span>
            </div>
            <div class="py-3 px-5 flex justify-between gap-4">
                <div class='text-amber-400 flex-shrink-0 flex items-center gap-2 font-semibold'>
                    <Icon name="fa-solid:globe" class="w-4 h-4"/>
                    <span>Sitio web:</span>
                </div>
                <div class="truncate">
                    <span>https://carpinteria-ramirez.com</span>
                </div>
            </div>
        </div>
    </div>
</div>