---
import BoardsLayout from "@layouts/BoardsLayout.astro";
import FullScreenScaffold from "@components/app/FullScreenScaffold.astro";
import Board from "@components/boards/Board.astro";
import CreateBoardBubble from "@components/boards/actions/CreateBoardBubble.astro";
---

<BoardsLayout title="Mi proyectos">
    <FullScreenScaffold title="Mis proyectos">
        <CreateBoardBubble active />
        <div class="md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:gap-3 flex flex-col max-sm:divide-y max-sm:divide-gray-200 max-sm:overflow-y-auto max-sm:mobile-scrollbar">
            <Board title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
            <Board title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="1 mes" />
            <Board title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="10 semanas" />
            <Board title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
            <Board title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
        </div>
    </FullScreenScaffold>
</BoardsLayout>