---
import { Icon } from "astro-icon";
import FullScreenModal from "@components/common/FullScreenModal.astro";
---

<FullScreenModal target="comment-modal" title="Agregar comentario">
    <div class="flex flex-col gap-5">
        <div class="bg-amber-50 font-medium rounded-md text-amber-400 p-3">
            Estás escribiendo un comentario en el perfil de Juan José Cruz Aguirre
        </div>
        <div class="flex flex-col gap-1">
            <label class="font-medium" html-for="comment">Comentario</label>
            <textarea
                class="bg-gray-100 px-4 py-2 rounded-lg focus-visible:outline-gray-300"
                placeholder="Rifado el pana"
            />
        </div>
        <div class="flex flex-col gap-1">
            <label class="font-medium" html-for="comment">Puntuación</label>
            <div class="w-full flex pt-4 gap-3 justify-between text-gray-200">
                {
                    Array(5).fill(0).map((_, i) => {
                        return <Icon name="fa-solid:star" class="w-10 h-10"/>
                    })
                }
            </div>
        </div>
    </div>
</FullScreenModal>