---
import FullScreenScaffold from "@components/app/FullScreenScaffold.astro";

interface Props {
    title: string,
    backLink: string
}

const { title, backLink } = Astro.props;
---

<FullScreenScaffold title={ title } backLink={backLink} shrink>
    <div class="flex flex-col max-sm:h-full max-sm:justify-between gap-5">
        <slot />
    </div>
</FullScreenScaffold>