---
import { Icon } from "astro-icon";
interface Props {
    icon: string,
    text: string,
    link: string,
}

const { icon, text, link } = Astro.props;
---

<a href={link} class="h-auto max-sm:bg-white sm:hover:shadow-lg sm:hover:bg-white hover:text-blue-700 flex items-center gap-3 py-2 sm:py-1 px-3 sm:rounded-md transition-all">
    <Icon name={icon} class="w-5 sm:w-4 aspect-square"/>
    <span class="w-full sm:text-sm">{ text }</span>
    <Icon name="fa-solid:chevron-right" class="sm:hidden flex-shrink-0 text-gray-400 w-4 aspect-square"/>
</a>