---
import ConfigBarSection from "./ConfigBarSection.astro"
import ConfigBarItem from "./ConfigBarItem.astro"
---
<nav class="z-20 flex-shrink-0 w-screen sm:w-64 min-h-0 sm:h-screen flex flex-row sm:flex-col gap-8 items-start bg-gray-100 border-r border-gray-200 pt-5 px-5">
    <h1 class="uppercase text-gray-500 font-semibold">Configuración</h1>
    <ul class="w-full flex flex-col gap-3">
        <ConfigBarSection title="Perfil">
            <ConfigBarItem link="/configuration/phone" icon="fa-solid:phone-alt" text="Teléfono"/>
            <ConfigBarItem link="/configuration/mail" icon="fa-solid:at" text="Correo electrónico"/>
            <ConfigBarItem link="/configuration/password" icon="fa-solid:key" text="Contraseña"/>
        </ConfigBarSection>
        <ConfigBarSection title="Productos">
            <ConfigBarItem link="/configuration/pay-data" icon="fa-solid:credit-card" text="Datos de pago"/>
            <ConfigBarItem link="#" icon="fa-solid:award" text="Suscripción"/>
        </ConfigBarSection>
        <ConfigBarSection title="Notificaciones">
            <ConfigBarItem link="/configuration/notifications" icon="fa-solid:bell" text="Notificaciones"/>
        </ConfigBarSection>
        <ConfigBarSection title="Accesibilidad">
            <ConfigBarItem link="#" icon="fa-solid:language" text="Idioma"/>
            <ConfigBarItem link="#" icon="fa-solid:tshirt" text="Estilo"/>
        </ConfigBarSection>
        <ConfigBarSection title="Servicio">
            <ConfigBarItem link="#" icon="fa-solid:file-contract" text="Condiciones del servicio"/>
        </ConfigBarSection>
    </ul>
</nav>