---
import { Icon } from "astro-icon";
import AppLayout from '@layouts/AppLayout.astro';
import FullScreenScaffold from '@components/app/FullScreenScaffold.astro';
import Tabs from '@components/common/Tabs';
import { Input, Textarea } from "@components/common/inputs";
---

<AppLayout title="Editar mi perfil">
  <FullScreenScaffold header={false} shrink>
    <div class="flex flex-col gap-5">
        <div class="flex justify-end">
            <Icon name="fa-solid:share-alt" class="w-4 h-4 text-action"/>
        </div>
        <Tabs
            client:load
            tabId="profile-section"
            items={[
              { name: 'Acerca de', id: 'about' },
              { name: 'Galerías (23)', id: 'galleries' },
            ]}
        />
        <div class="w-full flex flex-col items-center gap-10">
            <div class="flex flex-col items-center gap-5">
                <img class='w-20 h-20 sm:w-28 sm:h-28 flex-shrink-0 rounded-full object-cover' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY8dkWYTLlEbqVU1TUU9O5VjeiV1Q5sx_qMwnOjq8HJcjP75uR3vf89Wl4YcQaVy0V63E&usqp=CAU" alt="profile" />
                <button class="bg-action text-white rounded-md self-end flex gap-3 px-3 py-1">
                    <Icon name="fa-solid:camera" class="w-5 h-5"/>
                    <span>Cambiar foto</span>
                </button>
            </div>
            <div class="flex flex-col gap-5">
                <div class="flex gap-5">
                    <Input id="first-name" label="Nombre (s)" placeholder="Juan José" type="text"/>
                    <Input id="last-name" label="Apellido (s)" placeholder="Cruz Aguirre" type="text"/>
                </div>
                <div class="flex gap-5">
                    <Input id="category" label="Categoría" placeholder="Carpintería" type="text"/>
                    <Input id="work-zone" label="Zona de Trabajo" placeholder="Querétaro, QRO." type="text"/>
                </div>
                <div class="flex gap-5">
                    <Input id="phone-number" label="Número de teléfono" placeholder="446 111 7033" type="text"/>
                    <Input id="experience-years" label="Años de experiencia" placeholder="15 años" type="text"/>
                </div>
                <Input id="web-site" label="Sitio web" placeholder="https://carpinterias-ramirez.com" type="text"/>
                <Textarea id="about-you" label="Acerca de ti" placeholder="Cuéntanos acerca de ti."/>
            </div>
            <button class="bg-action text-white rounded-md self-end flex gap-3 px-3 py-1">
                <Icon name="fa-solid:save" class="w-5 h-5"/>
                <span>Guardar</span>
            </button>
        </div>
    </div>
  </FullScreenScaffold>
</AppLayout>