---
import { Icon } from "astro-icon";
import Tabs from "@components/common/Tabs"
import { Search } from "@components/common/inputs";
import Grade from "@components/dashboard/modals/Grade.astro";
import OrderBy from "@components/dashboard/modals/OrderBy.astro";
import Abilities from "@components/dashboard/modals/Abilities.astro";
import Activity from "@components/dashboard/modals/Activity.astro";
---
<div class="w-full flex items-center gap-3 text-gray-500 p-2 sm:px-5 sm:pb-5">
    <label for="all-filters-modal" class='w-10 h-10 flex-shrink-0 sm:hidden flex justify-center items-center bg-gray-100 text-gray-400 rounded-full'>
        <Icon name="fa-solid:sliders-h" class="w-5 h-5"/>
    </label>
    <div class="w-full flex flex-row sm:flex-col items-center text-sm overflow-x-auto sm:overflow-visible no-h-scrollbar gap-3 sm:mt-3">
        <div class="w-[600px] hidden sm:flex items-center gap-3">
            <Search id="professional-search" placeholder="Buscar..." client:load/>
            <button class="self-stretch bg-amber-400 text-white py-1 px-2 uppercase rounded-md font-semibold">
                Buscar
            </button>
        </div>
        <div class="flex flex-col gap-3">
            <div class="xl:hidden flex-shrink-0 flex gap-3">
                <div class="relative flex-shrink-0">
                    <label class="cursor-pointer block sm:hidden" for="order-by-filters-modal">
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Tipo de orden</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    <label data-popup="order-by-popup" class="max-sm:hidden peer cursor-pointer" for="order-by-popup">
                        <input id="order-by-popup" data-popup-target="order-by-popup" class="hidden" type="checkbox"/>
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Tipo de orden</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    </label>
                    <div data-popup="order-by-popup" class="peer-has-[:checked]:scale-100 scale-0 max-sm:hidden z-30 top-[calc(100%+.75rem)] left-0 bg-white rounded-lg shadow-strong absolute p-3 transition-all">
                        <OrderBy/>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <label class="cursor-pointer block sm:hidden" for="grade-filters-modal">
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Calificación</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    <label data-popup="grade-popup" class="max-sm:hidden peer cursor-pointer" for="grade-popup">
                        <input id="grade-popup" data-popup-target="grade-popup" class="hidden" type="checkbox"/>
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Calificación</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    </label>
                    <div data-popup="grade-popup" class="peer-has-[:checked]:scale-100 scale-0 max-sm:hidden z-30 top-[calc(100%+.75rem)] left-0 bg-white rounded-lg shadow-strong absolute p-3 transition-all">
                        <Grade/>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <label class="cursor-pointer block sm:hidden" for="abilities-filters-modal">
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Habilidades</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    <label data-popup="abilities-popup" class="max-sm:hidden peer cursor-pointer" for="abilities-popup">
                        <input id="abilities-popup" data-popup-target="abilities-popup" class="hidden" type="checkbox"/>
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Habilidades</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    </label>
                    <div data-popup="abilities-popup" class="peer-has-[:checked]:scale-100 scale-0 max-sm:hidden z-30 top-[calc(100%+.75rem)] left-0 bg-white rounded-lg shadow-strong absolute p-3 transition-all">
                        <div class="w-64">
                            <Abilities name="header"/>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <label class="cursor-pointer block sm:hidden" for="activity-filters-modal">
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Actividad</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    <label data-popup="activity-popup" class="max-sm:hidden peer cursor-pointer" for="activity-popup">
                        <input id="activity-popup" data-popup-target="activity-popup" class="hidden" type="checkbox"/>
                        <div class='flex items-center bg-gray-100 text-gray-400 rounded-full px-4 py-1 gap-3'>
                            <span>Actividad</span>
                            <Icon name="fa-solid:chevron-down" class="w-4 h-4"/>
                        </div>
                    </label>
                    </label>
                    <div data-popup="activity-popup" class="peer-has-[:checked]:scale-100 scale-0 max-sm:hidden z-30 top-[calc(100%+.75rem)] left-0 bg-white rounded-lg shadow-strong absolute p-3 transition-all">
                        <div class="w-48">
                            <Activity name="header"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-sm:hidden flex-shrink-0 flex gap-3">
                <div class="w-auto self-start text-sm font-medium flex items-center bg-amber-50 text-amber-400 rounded-md px-2 py-1 gap-3">
                    <span>Ascendente</span>
                    <input class="w-5 h-5 rounded-sm" type="checkbox" checked>
                </div>
                <div class="w-auto self-start text-sm font-medium flex items-center bg-amber-50 text-amber-400 rounded-md px-2 py-1 gap-3">
                    <span>4.5</span>
                    <input class="w-5 h-5 rounded-sm" type="checkbox" checked>
                </div>
                <div class="w-auto self-start text-sm font-medium flex items-center bg-amber-50 text-amber-400 rounded-md px-2 py-1 gap-3">
                    <span>Carpintería</span>
                    <input class="w-5 h-5 rounded-sm" type="checkbox" checked>
                </div>
                <div class="w-auto self-start text-sm font-medium flex items-center bg-amber-50 text-amber-400 rounded-md px-2 py-1 gap-3">
                    <span>Tiene comentarios</span>
                    <input class="w-5 h-5 rounded-sm" type="checkbox" checked>
                </div>
            </div>
        </div>
    </div>
</div>