---
import { Search } from "@components/common/inputs"
interface Props {
    name: string,
}

const { name } = Astro.props;
---
<div class="flex flex-col gap-5">
    <div class="flex items-center gap-1 text-gray-600 text-lg font-semibold">
        <span>Habilidades</span>
    </div>
    <div class="w-full flex items-center gap-3">
        <Search id="ability-search" placeholder="Buscar..." client:load/>
        <button class="bg-amber-400 text-white py-1 px-2 uppercase rounded-md font-semibold">
            Buscar
        </button>
    </div>
    <div class="h-48 mobile-scrollbar overflow-y-auto w-full flex flex-col gap-2">
        {
            Array(10).fill(null).map((e, index) => {
                return <label for={`skill-${index}_${name}`} class="has-[:checked]:bg-amber-100/70 has-[:checked]:text-amber-500 rounded-md py-1 px-2 flex justify-between items-center gap-2 cursor-pointer">
                    <span>Carpintería</span>
                    <input id={`skill-${index}_${name}`} type="checkbox" class="w-5 h-5"/>
                </label>
            })
        }
    </div>
</div>