---
import Grade from "./Grade.astro";
import OrderBy from "./OrderBy.astro";
import Abilities from "./Abilities.astro";
import FullScreenModal from "@components/common/FullScreenModal.astro";
---

<FullScreenModal id="all-filters" title="Filtros">
    <div class="flex flex-col gap-5">
        <OrderBy/>
        <Grade/>
        <Abilities/>
    </div>
</FullScreenModal>