---
import { Icon } from "astro-icon";
import AppLayout from "@layouts/AppLayout.astro";
import FullScreenScaffold from "@components/app/FullScreenScaffold.astro";
---

<AppLayout title="Buzón">
    <FullScreenScaffold title="Buzón" shrink>
        <div class="h-full flex flex-col divide-y divide-gray-200">
            {
                Array(10).fill(null).map((e, index) => {
                    return <a href='/profile/1'>
                        <div class="w-full bg-white flex flex-shrink-0 items-center gap-4 py-6 px-3">
                            <picture class="relative w-20 h-20 flex-shrink-0">
                                <img class='w-20 h-20 rounded-full object-cover' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY8dkWYTLlEbqVU1TUU9O5VjeiV1Q5sx_qMwnOjq8HJcjP75uR3vf89Wl4YcQaVy0V63E&usqp=CAU" alt="profile" />
                                <div class="absolute bottom-0 right-0 bg-lime-500 rounded-full p-2">
                                    <Icon name="fa-solid:envelope" class="w-4 h-4 text-white"/>
                                </div>
                            </picture>
                            <div class="w-full flex flex-col gap-2">
                                <h2 class='font-medium'>Título de notificación</h2>
                                <p class="text-sm">El encargado del tablero te ha enviado una invitación para que te unas al tablero.</p>
                            </div>
                            <Icon name="fa-solid:chevron-right" class="w-3 h-3 text-gray-400"/>
                        </div>
                    </a>
                })
            }
        </div>
    </FullScreenScaffold>
</AppLayout>