---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import StepScaffold from "@components/auth/StepScaffold.astro";
---

<Layout title="Registro | Arqontact">
    <StepScaffold>
        <div class="flex flex-col flex-grow self-stretch justify-between">
            <div class="flex justify-between items-center text-3xl text-amber-400 font-semibold">
                <Icon class="flex-shrink-0 w-8 h-8" name="fa-solid:arrow-left" />
                <span class='text-3xl text-amber-400 font-semibold'>3/3</span>
            </div>
            <div class="flex flex-col gap-6">
                <h1 class='text-3xl font-normal'>¡Último paso!</h1>
                <div class="flex flex-col gap-1">
                    <label class='font-medium' for="mail">Contraseña</label>
                    <input
                        class="bg-gray-100 px-4 py-2 rounded-lg focus-visible:outline-gray-300"
                        type="text"
                        placeholder='correo@ejemplo.com'
                    />
                </div>
                <div class="flex flex-col gap-1">
                    <label class='font-medium' for="mail">Confirma tu contraseña</label>
                    <input
                        class="bg-gray-100 px-4 py-2 rounded-lg focus-visible:outline-gray-300"
                        type="text"
                        placeholder='correo@ejemplo.com'
                    />
                </div>
            </div>
            <a href='/register/type' class='text-center py-2 font-semibold bg-amber-400 text-white rounded-xl uppercase'>
                Terminar
            </a>
        </div>
    </StepScaffold>
</Layout>
