---
import AppLayout from "@layouts/AppLayout.astro";
import FullScreenScaffold from "@components/app/FullScreenScaffold.astro";
import Overlay from "@components/common/Overlay";
import Project from "@components/projects/Project.astro";
import CreateProjectBubble from "@components/projects/actions/CreateProjectBubble.astro";
---

<AppLayout title="Mi proyectos">
    <Overlay client:load />
    <FullScreenScaffold title="Mis proyectos">
        <CreateProjectBubble active />
        <div class="flex flex-col divide-y divide-gray-200 overflow-y-auto mobile-scrollbar">
            <Project title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
            <Project title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="1 mes" />
            <Project title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="10 semanas" />
            <Project title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
            <Project title="Hospital San Felipe" location="Querétaro, QRO." percent={30} duration="6 meses" />
        </div>
    </FullScreenScaffold>
</AppLayout>