---
interface Props {
    target: string,
}

const { target } = Astro.props;
---
<div
    class={`transform has-[[data-modal-trigger]:checked]:translate-y-0 translate-y-full transition-all z-50 w-screen h-screen absolute flex justify-center items-center`}
>
    <input data-modal-trigger={target} id={target} type="checkbox" class="hidden"/>
    <label for={target} class="absolute -z-10 w-full h-full bg-[rgba(0,0,0,.3)]"></label>
    <slot />
</div>