---
import { Icon } from "astro-icon";
import ConfigurationLayout from "@layouts/ConfigurationLayout.astro";
import ActionSection from "@components/configuration/ActionSection.astro";
import { Input } from "@components/common/inputs";
---

<ConfigurationLayout>
    <ActionSection
        title="Cambiar correo"
        backLink="/configuration/mail"
    >
        <Input id="new-mail" label="Nuevo correo" placeholder="galac.9173@gmail.com" type="text"/>
        <button class="bg-action text-white rounded-md self-end flex gap-3 px-3 py-1">
            <Icon name="fa-solid:save" class="w-5 h-5"/>
            <span>Guardar</span>
        </button>
    </ActionSection>
</ConfigurationLayout>