---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import StepScaffold from "@components/auth/StepScaffold.astro";
---

<Layout title="Registro | Arqontact">
    <StepScaffold>
        <div class="flex flex-col flex-grow self-stretch justify-between">
            <div
                class="flex justify-between items-center text-3xl text-amber-400 font-semibold"
            >
                <Icon class="flex-shrink-0 w-8 h-8" name="fa-solid:arrow-left" />
                <span class="text-3xl text-amber-400 font-semibold"
                    >1/3</span
                >
            </div>
            <div class="flex flex-col gap-6">
                <h1 class="text-3xl font-normal">¡Hola, Juan!</h1>
                <div class="flex items-center gap-6 rounded-md bg-amber-50 text-amber-400 p-6">
                    <span class="text-2xl">
                        <Icon class="flex-shrink-0 w-6 h-6" name="fa-solid:info-circle" />
                    </span>
                    <h2 class="font-medium">
                        Utilizaremos tu correo para enviarte mensajes
                        importantes.
                    </h2>
                </div>
                <div class="flex flex-col gap-1">
                    <label class="font-medium" for="mail">
                        Correo electrónico
                    </label>
                    <input
                        class="bg-gray-100 px-4 py-2 rounded-lg focus-visible:outline-gray-300"
                        type="text"
                        placeholder="correo@ejemplo.com"
                    />
                </div>
                <!-- {
                    !codeSent ? (
                        <div class="flex items-center gap-6 rounded-md bg-amber-50 text-amber-400 p-6">
                            <span class="text-2xl">
                                <Icon icon="fas fa-info-circle" />
                            </span>
                            <h2 class="font-medium">
                                Utilizaremos tu correo para enviarte mensajes
                                importantes.
                            </h2>
                        </div>
                    ) : (
                        <div class="flex items-center gap-6 rounded-md bg-amber-50 text-amber-400 p-6">
                            <h2 class="font-medium">
                                Enviamos un código a tu correo. Por favor,
                                escríbelo.
                            </h2>
                        </div>
                    )
                }
                {
                    !codeSent ? (
                        <div class="flex flex-col gap-1">
                            <label class="font-medium" for="mail">
                                Correo electrónico
                            </label>
                            <input
                                class="bg-gray-100 px-4 py-2 rounded-lg focus-visible:outline-gray-300"
                                type="text"
                                placeholder="correo@ejemplo.com"
                            />
                        </div>
                    ) : (
                        <div class="flex flex-col gap-1">
                            <label class="font-medium" for="code">
                                Código
                            </label>
                            <div class="flex justify-between gap-6">
                                <input
                                    class="w-full text-center bg-gray-100 p-4 text-xl rounded-lg focus-visible:outline-gray-300"
                                    type="text"
                                    placeholder="0"
                                />
                                <input
                                    class="w-full text-center bg-gray-100 p-4 text-xl rounded-lg focus-visible:outline-gray-300"
                                    type="text"
                                    placeholder="0"
                                />
                                <input
                                    class="w-full text-center bg-gray-100 p-4 text-xl rounded-lg focus-visible:outline-gray-300"
                                    type="text"
                                    placeholder="0"
                                />
                                <input
                                    class="w-full text-center bg-gray-100 p-4 text-xl rounded-lg focus-visible:outline-gray-300"
                                    type="text"
                                    placeholder="0"
                                />
                            </div>
                        </div>
                    )
                } -->
            </div>
            <!-- <button
                onClick={() =>
                    codeSent
                        ? router.push("/register/phone")
                        : setCodeSent(true)}
                class="py-2 font-semibold bg-amber-400 text-white rounded-xl uppercase"
            >
                {codeSent ? "Confirmar" : "Continuar"}
            </button> -->
            <a
                href="/register/phone"
                class="text-center py-2 font-semibold bg-amber-400 text-white rounded-xl uppercase"
            >
                Confirmar
            </a>
        </div>
    </StepScaffold>
</Layout>
