---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/app/Navbar";

interface Props {
    title: string
}

const { title } = Astro.props;
---

<Layout title={`${title} | Arqontact`}>
    <main class="fixed w-screen h-screen sm:flex-row-reverse flex flex-col justify-between overflow-hidden">
        <slot />
        <Navbar client:load transition:persist />
    </main>
</Layout>