---
import AppLayout from "@layouts/AppLayout.astro";
import ConfigBar from "@components/configuration/ConfigBar.astro";
---

<AppLayout title="Configuración">
    <div class="min-w-0 w-full h-full min-h-0 flex">
        <ConfigBar />
        <slot/>
    </div>
</AppLayout>