---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Arqontact" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />

		<meta name="theme-color" content="#ffffff" />
		<link rel="apple-touch-icon" href="/logo192x192.png" />
		<link rel="manifest" href="/manifest.json" />
		<title>{title}</title>
		<ViewTransitions fallback="swap"/>
	</head>
	<body>
		<slot />
	</body>
</html>

<script type="text/javascript">
	window.addEventListener('load', () => {
		window.addEventListener('click', (e) => {
			const popupTriggers = document.querySelectorAll('input[data-popup-target]:checked');
			const popup = e.target.closest('[data-popup]');
			
			if (!popup && popupTriggers) {
				popupTriggers.forEach(popupTriggers => {
					popupTriggers.checked = false;
				});
			}
		})
	});
</script>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer utilities {
		.no-v-scrollbar::-webkit-scrollbar:vertical {
			display: none;
		}

		.no-v-scrollbar:vertical {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		
		.mobile-v-scrollbar::-webkit-scrollbar:vertical {
			width: 5px;
			height: 5px;
		}

		.no-h-scrollbar::-webkit-scrollbar:horizontal {
			display: none;
		}

		.no-h-scrollbar:horizontal {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		
		.mobile-h-scrollbar::-webkit-scrollbar:horizontal {
			width: 5px;
			height: 5px;
		}
	}

	html {
		font-family: 'Krub';
		scroll-behavior: smooth;
		scroll-padding-top: 6rem;
	}

	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		transition: all .5s;
	}

	/* Track */
	::-webkit-scrollbar-track {
		width: 10px;
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(209, 213, 219);
		border-radius: 5px;
		transition: all .5s;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(156 163 175);
	}

	[type=checkbox] {
		-webkit-appearance: none;
		appearance: none;
		border: 1px solid #E5E7EB;
		border-radius: 2px;
	}

	[type=checkbox]:checked {
		background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0ndHJ1ZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBmaWxsPSdub25lJyB2aWV3Qm94PScwIDAgMTYgMTInPiA8cGF0aCBzdHJva2U9JyNmZmYnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLXdpZHRoPSczJyBkPSdNMSA1LjkxNyA1LjcyNCAxMC41IDE1IDEuNScvPiA8L3N2Zz4=);
		background-color: #FBBF24;
		background-size: .55em .55em;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #FBBF24;
	}

	[type=radio] {
		-webkit-appearance: none;
		appearance: none;
		border: 1px solid #E5E7EB;
		border-radius: 2px;
	}

	[type=radio]:checked {
		background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0ndHJ1ZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBmaWxsPSdub25lJyB2aWV3Qm94PScwIDAgMTYgMTInPiA8cGF0aCBzdHJva2U9JyNmZmYnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLXdpZHRoPSczJyBkPSdNMSA1LjkxNyA1LjcyNCAxMC41IDE1IDEuNScvPiA8L3N2Zz4=);
		background-color: #FBBF24;
		background-size: .55em .55em;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #FBBF24;
	}

	.switch {
		display: inline-block;
		height: 20px;
		position: relative;
		width: 36px;
	}

	.switch input {
		display:none;
	}

	.slider {
		background-color: #ccc;
		bottom: 0;
		cursor: pointer;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: .4s;
	}

	.slider:before {
		background-color: #fff;
		bottom: 2px;
		content: "";
		height: 16px;
		left: 2px;
		position: absolute;
		transition: .4s;
		width: 16px;
	}

	input:checked + .slider {
		background-color: #fbbf24;
	}

	input:checked + .slider:before {
		transform: translateX(16px);
	}

	.slider.round {
		border-radius: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
</style>