<main
    class="w-full h-screen pb-16 flex flex-col justify-between py-4 px-8 relative"
>
    <div class="flex flex-row-reverse">
        <img
            class="inline"
            src="/logo_light.svg"
            width="135"
            height="25"
            alt="logo"
        />
    </div>
    <slot />
</main>