---
import { Icon } from "astro-icon";
import FullScreenModal from "@components/common/FullScreenModal.astro";
---

<FullScreenModal closeType="times" throwDown={true} buttons={false} target="update-profile-picture-modal" header={false}>
    <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-3">
            <h2 class="uppercase text-gray-400 text-sm font-bold">Actualizar foto de perfil</h2>
            <div class="bg-gray-100 text-gray-400 p-4 flex justify-center gap-4 rounded-md">
                <div class="bg-white rounded-md p-4 shadow-md">
                    <Icon name="fa-solid:image" class="w-10 aspect-square"/>
                </div>
                <div class="bg-white rounded-md p-4 shadow-md">
                    <Icon name="fa-solid:camera" class="w-10 aspect-square"/>
                </div>
            </div>
        </div>
        <div class="flex gap-4">
            <Icon name="fa-solid:trash-alt" class="text-red-500 w-4 aspect-square"/>
            <span>Eliminar foto actual</span>
        </div>
    </div>
</FullScreenModal>